.text-footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer{
    background-color: rgb(0, 0, 0);
    padding: 10px 300px;
}
.white{
    color: white;
}